.main-footer {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--footer-font);
    background-color: rgb(252, 252, 252);
}

.footer-content {
    display: flex;
    gap: 12%;
    font-size: 1.2em;
}

.footer-box,
.footer-content {
    padding: 20px;
}

.footer-content .row {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(241, 241, 241, 0.3);
    border-radius: 3px;
}

.footer-content .row h3 {
    color: rgb(0, 253, 253);
}

.footer-text {
    list-style: none;
    margin: 5px;
}


.aux-box {
    padding: 40px;
    background-color: rgba(129, 191, 219, 0.7);
}

.aux-box .socials {
    color: aliceblue;
    float: right;
}

.copyright-box {
    padding: 10px;
    background-color: rgb(230, 233, 233);
    text-align: center;
    font-size: 18px;
}

.socials {
    font-size: 25px;
    letter-spacing: 3px;

}

.socials a {
    padding: 8px 8px;

}

.socials a:hover {
    background-color: rgba(212, 228, 228, 0.7);
    color: black;
    border-radius: 50%;
}