.box-content {
    padding: var(--main-padding);
    background-color: var(--label-color);
    margin: 30px 10px;
    border-radius: 10px;
    border: 1px solid;
    font-family: var(--primary-font);
    color: var(--secondary-text-color);
   
}

.search-box a{

   /* background-color: aqua;*/
    padding: 0px 10px;
}

.search-box{
    display: inline;
    margin: 0;
}

.search-box .search{
    border: var(--border-color);
}

.box-content .text-content {
    text-align: left;
    justify-content: stretch;
}

.box-content .text-content h4 {
    color: var(--toggle-color);
    text-align: center;
}

.box-img {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 15px;
    padding: 25px 10px;
}


.course-content {
    display: grid;
    margin: 30px 20px;
    font-size: 1.1em;
    font-family: var(--course-font);
   
}

.course {
    border-radius: 15px;
    background-color: var(--course-color);
    
}

.course {
    margin: 20px 10px;
}

.course :not(:first-child) {
    padding: 15px;

}

.course:hover {
    box-shadow: 1px 2px 3px 0px black;
    transition: all 0.5s ease;
    transform: scale(1.05);
}

.course .container .text-content {
    margin: 3px 10px;
  
    color: var(--text-color);
   
}

.course .text-content h4{
    color: var(--toggle-color);
}
.course .container{

    color: var(--primay-color);
}
.course-img {
    width: 320px;
    height: 200px;
}

.row-info {
    padding: var(--main-padding);
    background-color: var(--label-color);
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    font-family:var(--course-font);
    color: var(--text-color);
}

.icons a {
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
}

.row2 .icons a:hover {
    background-color: #52525e;
    color: aliceblue;
    transition: background-color 0.6s ease;
}

.explore {
    display: flex;
    justify-content: space-between;
    color: var(--info-color);
    margin-top: 20px;
}

.explore p {
    background: var(--main-bg);
    padding: 10px;
    border-radius: 5px;
}

.rating i {
    display: inline;
    padding: 5px;
    color: var(--toggle-color);

}

.card-container{

    display: flex;
    justify-content: center;
    /*padding: 7vh;*/
    padding: 50px;
    /* border: 2px solid black; */
    box-shadow:0 2px 10px 2px var(--primay-color);
    border-radius: 12px;
    margin: 12px 0;
    display: block;
}
.card-name{
    font-size: 2em;
    text-align: center;
}
.card-price{
    text-align: center;
    font-size: 32px;
    margin:12px
}
#sub1,#sub3, #sub2{
    width: 100%;
    background-color: darkcyan;
    padding: 0.8em;
    border: none;
    outline: none;
    color: var(--toggle-color);
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: 700;
}
#sub2{
    background: white;
    color: rgb(128, 248, 248);
    transform: translateY(12px);
}
#sub1:hover{
    background: rgb(0, 56, 56);
}
#sub2:hover{
    background: rgb(0, 56, 56);
    color: white;
}
.adept{
    background: var(--secondary-color);
    color: white;
    height: 450px;
    transform: translateY(-15px);
    z-index: 1;
    cursor: pointer;
}
.adept:hover{
    transform: scale(1.1) translateY(-10px);
}
.card-details div{
    text-align: center;
    font-size: 18px;
}
.card-details hr{
    height: 2px;
    margin: 20px 0;
    background-color: var(--toggle-color);
    outline: none;
    border: none;
}
.h{
    background-color: var(--course-color);
    color: var(--toggle-color);
}
.h:hover{
    transform: scale(1.1) translateY(0px);
    z-index: 10;
}
.f>hr{
    background-color: white;
    margin: 22px 0;
}