.form {
    display: block;
    font-size: 1.3em;
    background-color: rgb(112, 228, 218);
    padding: var(--main-padding);
    padding: 2% 10%;
    color: aliceblue;
    font-family: var(--primary-font);
}

.form h3 {
    font-size: 2.0em;
}

.form input {
    background-color: rgb(238, 252, 252);
    padding: 5px 20px;
    font-size: 1.2em;
    margin: 5px;
    border-radius: 10px;

}

.form button {
    background-color: rgb(20, 241, 241);
    padding: 10px 20px;
    font-size: 25px;
    justify-content: center;
    border-radius: 10px;
    color: azure;

}

.form-row {
    margin: 25px;
}

.field {
    border: none;
    padding: 2rem;
    border-bottom: 3px solid #3b3b4f;
}

.form-section .form-info {
    padding: 10%;
    font-size: 2.0em;

}

.form-section .form-info .container {
    margin: var(--main-padding);
    display: block;
}