.slider-container {
	width: 140vw;
	max-width: 1050px;
	position: relative;
	overflow: hidden;
	padding: 20px;
	background-color: var(--slider-color);
	border-radius: 10px;
}

.slider-container .slider-btn {
	position: absolute;
	top: calc(50% - 30px);
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	border: solid  1px var(--toggle-color);

	color: var(--toggle-color);
	font-size: 20px;
	background-color: var(--secondary-color);
	opacity: 0.9;
	z-index: 1;
}

.slider-container .slider-btn:hover {
	transform: scale(1.2);
}

.slider-container .slider-btn.inactive {
	border-color: #282828
}

.slider-container .left-btn {
	left: 10px
}

.slider-container .right-btn{
	right: 10px;
}

.slider-container .slider {
	display: flex;
	width: 1000%;
	height: 100%;
	transition: all .5s;
}