.bg-light {
    background-color: rgb(236, 242, 247);
}

.text-primary {
    color: #007bff;
}

.course-section{
    background-color: var(--main-bg);
}

.contents {
    background: #24C6DC;
    background: -moz-linear-gradient(top,  #24C6DC 0%, #2CC8D8 41%, #F3F3F3 100%);
    background: -webkit-linear-gradient(top, #24C6DC 0%, #2CC8D8 41%, #F3F3F3 100%);
    background: linear-gradient(to bottom, #24C6DC 0%, #2CC8D8 41%, #F3F3F3 100%);
}

.wrapper { 
    background: #24C6DC; 
    background: -webkit-linear-gradient(to bottom,#24C6DC , #514A9D);  
    background: linear-gradient(to bottom, #24C6DC, #514A9D); 
}